{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static', filename='stylesheet/auth.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet/new.css') }}">
<script src="https://kit.fontawesome.com/57123efb1f.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/favorite.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/retweet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/comment.js') }}"></script>
{% endblock %}

{% block subcontent %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a href="/{{ pytweet.user.screen_name }}/{{ pytweet.user.id }}/profile" class="text-decoration-none">
          <h5>@{{ pytweet.user.firstname }} {{ pytweet.user.lastname }} <span class="text-muted"
              style="font-size: 12px;">@{{ pytweet.user.screen_name }}</span></h5>
        </a>
        <p>{{ pytweet.body | safe }}</p>
        <a href="/pytweets/{{ pytweet.id }}/comment/" class="btn btn-info" role="button"><i
            class="fas fa-comment"></i></a>
        {% if pytweet.liked_by(current_user) %}
        <button class="btn btn-link text-danger text-decoration-none" id="like-btn-{{ pytweet.id }}"
          onclick="toggle_like({{ pytweet.id }})">
          <i class="fas fa-heart" id="heart-{{ pytweet.id }}"></i>
          <span id="like-{{ pytweet.id }}">{{ pytweet.likes(pytweet_id=pytweet.id) }}</span>
        </button>
        {% else %}
        <button class="btn btn-link text-dark text-decoration-none" id="like-btn-{{ pytweet.id }}"
          onclick="toggle_like({{ pytweet.id }})">
          <i class="fas fa-heart-broken" id="heart-{{ pytweet.id }}"></i>
          <span id="like-{{ pytweet.id }}">{{ pytweet.likes(pytweet_id=pytweet.id) }}</span>
        </button>
        {% endif %}
        {% if pytweet.retweeted_by(current_user) %}
        <button class="btn btn-link text-success text-decoration-none" id="retweet-btn-{{ pytweet.id }}"
          onclick="toggle_retweet({{ pytweet.id }})">
          <i class="fas fa-retweet"></i>
          <span id="retweet-{{ pytweet.id }}">{{ pytweet.retweet_count(pytweet_id=pytweet.id) }}</span>
        </button>
        {% else %}
        <button class="btn btn-link text-dark text-decoration-none" id="retweet-btn-{{ pytweet.id }}"
          onclick="toggle_retweet({{ pytweet.id }})">
          <i class="fas fa-retweet"></i>
          <span id="retweet-{{ pytweet.id }}">{{ pytweet.retweet_count(pytweet_id=pytweet.id) }}</span>
        </button>
        {% endif %}
        {% if pytweet.user == current_user %}
        <form action="pytweet/{{ pytweet.id }}/delete/" method="POST" class="d-inline">
          <a href="pytweets/{{ pytweet.id }}/edit/" class="btn btn-primary" role="button"><i
              class="fas fa-edit"></i></a>
          <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
        </form>
        {% endif %}
      </div>
      <div class="card-body">
          <div class="form-row">
            <div class="col-11">
                <input type="text" class="form-control comment-content" id="my-comment" name="comment">
            </div>
            <div class="col-1">
                <button type="botton" class="btn btn-primary mb-2" onclick="add_comment({{ pytweet.id }})">Add Comment</button>
            </div>
          </div>
        <ul class="list-group list-group-flush comment-section">
            {% for comment in comments %}
              <li class="list-group-item">
                <a href=""><h5>{{ comment.commenters.firstname }} {{ comment.commenters.lastname }} ・ {{ comment.updated_at }}</h5></a>
                <p id="comment-{{ comment.id }}" class="">{{ comment.comment | safe }}</p>
                <input type="text" id="edit-comment-{{ comment.id }}" value="{{ comment.comment }}" class="d-none form-control"  onkeypress="if(event.which == 13) save_edit({{ comment.id }})">
                <button class="btn btn-link text-info text-decoration-none" id="edit-comment-btn-{{ comment.id }}" onclick="edit_comment({{ comment.id }})"><i class="fas fa-edit"></i></button>
                {% if comment.comment_liked_by(current_user) %}
                <button class="btn btn-link text-danger text-decoration-none" id="like-comment-btn-{{ comment.id }}"
                  onclick="toggle_comment_like({{ comment.id }})">
                  <i class="fas fa-heart" id="heart-comment-{{ comment.id }}"></i>
                  <span id="like-comment-{{ comment.id }}">{{ comment.comment_likes(comment_id=comment.id) }}</span>
                </button>
                {% else %}
                <button class="btn btn-link text-dark text-decoration-none" id="like-comment-btn-{{ comment.id }}"
                  onclick="toggle_comment_like({{ comment.id }})">
                  <i class="fas fa-heart-broken" id="heart-comment-{{ comment.id }}"></i>
                  <span id="like-comment-{{ comment.id }}">{{ comment.comment_likes(comment_id=comment.id) }}</span>
                </button>
                {% endif %}
                <!-- subcomments -->
                <button class="btn btn-link text-muted text-decoration-none" id="view-subcomments-btn-{{ comment.id }}" onclick="view_subcomment({{ comment.id }})">
                  View Comments
                </button>
                <ul class="list-group list-group-flush" id="sub-comment-list-{{ comment.id }}"></ul>
                <div class="input-group mb-3 d-none" id="comment-reply-{{ comment.id }}" name="subcomment">
                  <input type="text" id="subcomment-reply-{{ comment.id }}" class="form-control">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-primary" onclick="add_subcomment({{ comment.id }})">Add Comment</button>
                  </div>
              </div>
              </li>
              {% else %}
              <li class="list-group-item">Nothing to show</li>
            {% endfor %}
        </ul>
      </div>


    </div>
  </div>


</div>

{% endblock %}